@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh;
    overflow: hidden; */
  font-family: poppins;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100%;
}

.menu-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

nav {
  border-bottom: #1e02d6 solid 4px;
  background-color: #ffffff90;
  /* backdrop-filter: blur(2px); */
  position: fixed;
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 5vw;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff3131;
  transition: width 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  z-index: 2;
  position: fixed;
  left: 6vw;
  font-weight: bold;
  text-transform: uppercase;
}

.logo span {
  font-size: 20px;
}

.search {
  position: fixed;
  right: 160px;
}

.menu {
  display: none;
  /* position: fixed; */
  /* right: 100px; */
}

.home {
  backdrop-filter: blur(4px);
  height: 100vh;
  align-items: center;
  /* margin-top: 5vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-content {
  width: 50%;
  position: relative;
  /* top: -8%; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  top: 276px;
  left: 43%;
  line-height: 0.8;
  font-size: 4.5rem;
  font-weight: 700;
  /* letter-spacing: -6px; */
}

.title p {
  line-height: 1;
  font-size: 25px;
  font-weight: 500;
  color: grey;
  text-transform: uppercase;
  left: 150px;
  letter-spacing: 10px;
}

.home-offer {
  margin-top: 1rem;
  display: flex;
}

.offers {
  padding: 2px;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
  border-radius: 15px;
  background-color: #fcf3bf;
}

.btn {
  margin-top: 1.5rem;
}

.btn a {
  text-decoration: none;
  text-transform: uppercase;
  background: #ff3131;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.4s;
}

.btn a:hover {
  background: #000;
  color: #fff;
}

.btn1 {
  margin-top: 1.5rem;
}

.btn1 a {
  text-decoration: none;
  text-transform: uppercase;
  background: #ff3131;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.4s;
}

.btn1 a:hover {
  background: #000;
  color: #fff;
}

/* cards */
.card {
  position: relative;
  left: 5%;
  width: 300px;
  height: 490px;
  perspective: 800px;
}

.card__inner {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipped {
  transform: rotateY(180deg);
}

.card__body {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.card__body--front {
  background-image: url("member-card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__body--back {
  background-image: url("member-card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.media ul {
  list-style: none;
  position: fixed;
  right: 20px;
  top: 63%;
  padding: 10px 10px;
}

.media ul li {
  cursor: pointer;
  font-size: 18px;
  margin: 24px 0;
  transition: 0.3s;
}

.media ul li:hover {
  color: #ff3131;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

#loader h1:nth-child(2) {
  animation-delay: 2s;
}

#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* about page  */
.about {
  border-top: #1e02d6 solid 4px;
  margin-bottom: 10vh;
  /* background-color: #ff313180; */
  /* backdrop-filter: blur(4px); */
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  padding-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  z-index: 2;
  font-size: 4rem;
  font-weight: 700;
}

.about-para {
  padding: 15px;
  border-radius: 15px;
  background-color: #fcf3bf;
  color: #5d5656;
  font-size: 20px;
  width: 80%;
}

.about-img {
  filter: drop-shadow(2px 4px 10px black);
  width: 30%;
}

.about-1 {
  display: flex;
  margin: 0 10vw 4vh 10vw;
  justify-content: center;
}

.left-about-container {
  align-items: center;
  display: flex;
  padding: 0 50px;
  border-radius: 15px;
  background-color: #fcf3bf;
  width: 55%;
  margin-right: 2vw;
  transition: all .3s ease-in-out !important; 
}
.left-about-container:hover{
  background-color: #02d6ba56;
}

.left-content {
  width: 42%;
}

.left-content>h1 {
  
  line-height: 1;
  font-size: 3rem;
}

.left-content>span {
  color: rgb(93, 86, 86);
  font-size: 20px;
}

.left-img {
  margin: 10px;
  width: 55%;
}

.right-about-container {
  align-items: center;
  padding: 0 13px;
  border-radius: 15px;
  background-color: #fcf3bf;
  width: 25%;
  transition: all .3s ease-in-out !important; 
}

.right-about-container:hover{
  background-color: #024cd64e;
}

.right-content {
  width: 100%;
}

.right-content>h1 {
  
  line-height: 1;
  font-size: 3rem;
}

.right-content>span {
  color: rgb(93, 86, 86);
  font-size: 20px;
}

.right-img {
  margin-top: 5vh;
  width: 100%;
}

.about-2 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.about-2-img {
  margin: 0 4vw;
}

.about-2-content {
  text-align: left;
  width: 35%;
  padding: 30px;
}

.about-2-content>h1 {
  line-height: 1;
  margin: 10px 0;
  font-size: 3.5rem;
}

.about-2-content>p {
  padding: 5px;
  border-radius: 15px;
  background-color: #fcf3bf;
  color: rgb(93, 86, 86);
  font-size: 20px;
}

.about-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-3-content {
  border-radius: 20px;
  padding: 4vw;
  margin: 4vw;
  width: 50%;
  background-color: #F3F3F3;
  transition: all .3s ease-in-out !important; 
}

.about-3-text {
  text-align: center;
}

.about-3-text>h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 5px;
}

.about-3-text>p {
  color: #5d5656;
  margin: 0px;
  font-size: 20px;
}

.about-3-icon {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon {
  margin-right: 2vw;
  width: 30%;
  text-align: center;
}

.icon-text>h1 {
  line-height: 1;
  font-weight: 400;
  font-size: 20px;
}

.icon-text>p {
  color: #5d5656;
  font-size: 14px;
}

.icon-svg {
  width: 8vw;
  height: 8vw;
}

.about-3-content:hover {
  background-color: #fcf3bf;
}

.left-2{
  display: flex;
}

.right-2{
  display: flex;
}


.left-2-content{
  padding: 0 15px 15px;
  border-radius: 15px;
  background-color: #fcf3bf;
  width: 40%;
  display: flex;
  transition: all .3s ease-in-out !important;
}

.left-2-content:hover{
  background-color: #ff313159;
}

.right-2-content{
  padding: 8px 15px 15px;
  border-radius: 15px;
  background-color: #fcf3bf;
  width: 40%;
  display: flex;
  transition: all .3s ease-in-out !important; 
}

.right-2-content:hover{
  background-color: #1e02d64d;
}
.about-3-content-2{
  margin-bottom: 4vh;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-2-text{
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-2-text>h1{
  line-height: 1;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
}

.right-2-text{
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-2-text>h1{
  line-height: 1;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
}

.sidebar {
  border-left: #ff3131 solid 2px;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  height: 100vh;
  width: 350px;
  background-color: #ffffff90;
  backdrop-filter: blur(4px);
  box-shadow: -10 0 10 rgba(0, 0, 0, 0.15);
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  overflow-y: auto;
  /* Add transition for smooth animation */
}

.sidebar.visible {
  visibility: visible;
  transform: translateX(0);
  /* Move the sidebar into view */
}

@media (max-width: 900px) {
  
  .logo span {
    font-size: 18px;
  }

  .navbar {
    height: 4vh;
  }

  .menu-list>li {
    display: none;
  }

  .menu {
    cursor: pointer;
    font-size: 18px;
    margin: 10px 30px;
    display: block;
    top: 0.5%;
    right: 0%;
    position: fixed;
  }

  .close {
    font-size: 20px;
  }

  .home {
    padding-top: 10vh;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
  }

  .home-content {
    margin-top: 4vh;
    width: 100%;
    align-items: center;
  }

  .title {
    text-align: center;
    font-size: 3rem;
  }

  .title p {
    margin: 10px 0px;
  }

  .card {
    width: 280px;
    height: 496px;
    left: 0;
  }

  .home-offer {
    flex-direction: column;
  }

  .offers {
    margin: 4px;
    padding: 4px;
  }

  .homebase {
    display: none;
  }

  #loader h1 {
    font-size: 2rem;
  }

  nav ul {
    padding-right: 2vw;
  }

  nav ul li {
    text-align: left;
    width: 100%;
    border-bottom: #1e02d6 solid 2px;
    margin: 0;
    padding: 10px 30px;
  }

  .about {
    align-items: stretch;
    margin-bottom: 5vh
  }

  .about-content {
    margin-left: 0;
  }

  .about-title {
    margin-top: 2vh;
    text-align: center;
    font-size: 2rem;
    line-height: 0.8;
  }

  .about-para {
    font-size: 16px;
    text-align: center;
    width: 90%;
  }

  .about-img {
    /* margin-top: 4vh; */
    width: 85%;
  }

  .about-1 {
    /* height: 100vh; */
    margin: 0 0 4vh 0;
    flex-direction: column;
    align-items: center;
  }

  .left-about-container {
    width: 80%;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin-right: 0px;
  }

  .left-content {
    padding-top: 10px;
    width: 90%;
  }

  .left-img {
    border-radius: 15px;
    margin-top: 20px;
    /* width: 60vw;
    height: 30vh; */
  }

  .right-about-container {
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    width: 80%;
  }

  .right-content {
    width: 90%;
  }

  .right-img {
    border-radius: 15px;
    margin-top: 20px;
    /* width: 90vw;
    height: 30vh; */
  }

  .left-content>h1 {
    font-size: 2rem;
  }

  .right-content>h1 {
    font-size: 2rem;
  }

  .about-2{
    margin-bottom: 2vh;
    flex-direction: column;
  }
  
  .about-2-img>img{
    width: 90%;
  }
  .about-2-content {
    text-align: center;
    width: 80%;
    padding: 10px;
} 
.about-2-content>h1{
  font-size: 2rem;
}
.about-3-content-2{
  flex-direction: column;
}
.left-2-content{
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
}
.right-2-content{
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-3-content{
  width: 80%;
}
.about-3-text>h1{
  font-size: 2rem;
}
.about-3-icon{
  flex-direction: column;
  align-items: center;
}
.icon{
  margin-right: 0;
  width: 90%;
}

.icon-svg{
  width: 35vw;
    height: 35vw;
}
}
